.logout-btn{
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: transparent;
    color: red;
    border: 1px solid red;
    transition: background-color 0.3s;
    z-index: 1000;
}

.logout-btn:hover {
    background-color: red;
    color: white;
}